@font-face {
    font-family: 'Inika';
    font-weight: normal;
    src: url('inika_regular.ttf');
}

@font-face {
    font-family: 'Inika';
    font-weight: bold;
    src: url('inika_bold.ttf');
}

.root {
    -fx-background-color: #1e1e1e;
    -fx-font-family: "Inika";
}

.label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.progress-bar {
    -fx-accent: #3a7ca5;
}

.progress-bar .bar {
    -fx-background-color: #3a7ca5;
    -fx-background-insets: 0;
    -fx-background-radius: 3;
}

.progress-bar .track {
    -fx-background-color: #3c3c3c;
    -fx-background-insets: 0;
    -fx-background-radius: 3;
}

.text-area {
    -fx-border-color: #5a9cb9;
    -fx-background-color: #3c3c3c;
    -fx-background-radius: 4;
    -fx-font-family: "Inika";
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

.text-area .content {
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #ffffff;
}

.text-area .scroll-pane {
    -fx-background-color: #3c3c3c;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: #3c3c3c;
}